body{
    background-color: black;
}

.imlink{
    width:100px;
    height:100px;
    position:relative;
    left:56px;
    border-radius:23px;
}

body > ul > li> a{
    color: blue;
    background: orangered;
    padding:8px;
    margin:9px;
    display:inline-block;
    border-radius:5px;
    position:relative;
    left:397px;
    top:-130px;
    font-size:1.2em;
    text-decoration:none;
}

body > a > img{
    z-index:1;
}

body > ul > li> a:hover{
    background:green;
    color:white;
}
body > ul > li:nth-child(1) > form > input[type=submit]:nth-child(2){
    position:relative;
    left:650px;
    top:-75px;
    background: orangered;
    padding:8px;
    margin:9px 5px;
    display:inline-block;
    width:97px;
    border-radius:5px;
    color:blue;
    font-family:arial;
    font-size:1.1em;
}
body > ul > li:nth-child(1) > form > input[type=submit]:nth-child(2):hover{
    cursor:pointer;
    background:red;
    color:white;
}
.articles{
    color:white;
    padding:20px 40px;
    box-sizing:border-box;
    font-family:arial;
    position:relative;
    top:-110px;
    max-width:100%;
    margin:0 auto;
    border:2px solid green; 
    border-radius:13px;
    
}
.detail{
    color:white;
    position:relative;
    top:-147px;
    box-sizing:border-box;
    padding:18px 240px;
    font-family:arial;
    max-width:100%;
    margin:0 auto;
    border:2px solid green;
    
}

.detail h1{
    text-decoration:underline;
    color:black;
    background:white;
    padding:14px 120px;
    display:inline-block;
    max-width:100%;
    border-radius:24px;
    
    
}

.mytitle a{
    text-decoration: none;
    color:green;
    font-size:23px;
    font-family:arial;
}
.mytitle a:hover{
    color:blue;
    text-decoration:underline;
}

form{
    color:white;
}